<header class="header">
  <div class="logo">
    <a routerLink="/" (click)="closeMenu()"><img src="/assets/Images/matrimony-logo.avif" alt="" /></a>
  </div>
  <div class="hamburger" (click)="toggleMenu()">
    &#9776;
  </div>
  <nav class="nav" [class.open]="menuOpen">
    <ul class="nav-list">
      <li class="nav-item" (click)="closeMenu()">
        <a class="nav-link" routerLink="/images">My Images</a>
      </li>
      <li class="nav-item" (click)="closeMenu()">
        <a class="nav-link" routerLink="/audio-recorder">My Voice</a>
      </li>
    </ul>
  </nav>
</header>